body{
    position: relative;
    height: 100%;
}

// banner

.banner{
    background-image: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.884);
    height: 346px;
    flex-direction: column;
    &-content{
        color: #fff;
        background-color: rgba(0, 0, 0, 0.3);
        h2{
            font-size: $fz-l;
            line-height: 1.5;
            padding-top: 100px;
        }
    }
}

// swiper

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

// cards

.course-item {
    width: 30%;
    border: 2px solid #f5f6fa;
    border-top: none;
    box-shadow: 0 10px 5px -10px gray;
    line-height: 1.5;
    text-align: justify;
    letter-spacing: 0.5px;
    h4 {
        text-align: center;
        font-weight: bold;
        font-size: $fz-s;
    }
    p {
        font-size: $fz-xs;
    }
    .jQuery {
        list-style: disc;
        padding-left: 1.3em;
        font-size: $fz-xs;
    }
}

// 差異表格

.difference{
    flex-direction: column;
    h3{
        font-size: $fz-m;
        font-weight: bold;
    }
    table{
        width: 87.5%;
    }
    thead{
        background: #f7f7f7;
        font-weight: bold;
        th{
            border-top: 1px solid #dddddd;
            text-align-last: left;
        }
    }
    th,td{
        width: 25%;
        padding-left: 3rem;
        border-bottom: 1px solid #dddddd;
        line-height: 35px;
    }
    .highlight{
        color: $secondary-color;
    }
}

// 資訊表單

.info{
    background: linear-gradient(#00644b,#009872);
    .container{
        flex-direction: column;
        h3{
            text-align: center;
            color: #fff;
            font-size: $fz-m;
            line-height: 1.5;
            padding-bottom: 2rem;
        }
    }
}
.info form{
    width: 100%;
    
    textarea{
        width: 48%;
        resize: none;
        border-radius: 5px;
        border: none;
    }
    .info-data{
        width: 48%;
        flex-direction: column;
        label{
            color: #fff;
            line-height: 1.5;
        }
        input{
            border-radius: 3px;
            border: none;
            line-height: 2;
            text-indent: 1rem;
        }
        input[type=submit]{
            width: 72px;    
            text-indent: 0;
            margin-top: 5px;
            color: #fff;
            background: $primary-color;
            align-self: flex-end;
            border: none;
            cursor: pointer;
            transition: 0.3s;
            &:hover{
                font-weight: bold;
                background: $secondary-color;
            }
        }
    }
}

// scroll-top

.top{
    position: fixed;
    width: 50px;
    height: 50px;
    right: 0;
    bottom: 0;
}