// variable

$width: 960px;

$primary-color: #00cc99;
$secondary-color: #00a67d;
$text-color: #000;

$fz-l: 36px;
$fz-m: 24px;
$fz-s: 20px;
$fz-xs: 14px;

$font-family-base: "Microsoft JhengHei", "微軟正黑體","PingFang TC", "SF Pro Text",  sans-serif;



